h1 Face tracking example

#container
  canvas#image height="500" width="625"
  canvas#overlay height="500" width="625"
br/
input#start.btn type="button" value="start" /

= javascript_pack_tag 'application'
